.heart-icon {
  font-size: 8rem;
}

.heart-icon-border {
  border: 5px solid black; /* Adjust border properties as needed */
  border-radius: 50%; /* Ensures the heart icon looks like a circle */
  padding: 5px; /* Adjust padding as needed */
  background-color: #c53030;
  position: relative; /* Ensure proper stacking context for z-index */
}

.letter {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure letters are above heart icon */
}

.heart-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.letter {
  cursor: pointer;
}
.animated-item {
  position: relative; /* Ensure proper stacking context for z-index */
}

.animated-item:hover {
  animation: scaleAnimation 0.2s ease forwards;
  z-index: 2; /* Ensure item is above other elements during animation */
}

.hint-balloon {
  border: 2px solid #ff0000;
  animation: zoomInOut 2s infinite alternate; /* Adjust duration and other animation properties as needed */
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes bounce-in {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bounce-in {
  animation: bounce-in 1s infinite;
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-up {
  animation: fade-up 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust the scale value for the zoom in effect */
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomInAndOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hint-animation {
  animation: zoomInAndOut 1s ease-in-out infinite;
}

@keyframes idleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.idle {
  animation: idleAnimation 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hint-active .hint:first-letter {
  animation: blink 1s infinite;
}


.zoom-in-out {
  transition: transform 0.5s ease-in-out;
}

.zoom-in-out:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

@keyframes hintAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hint-animation {
  animation: hintAnimation 1s infinite alternate;
}
