@tailwind base;
@tailwind components;
@tailwind utilities;

/* BALLOON POP UP */
@keyframes balloonPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.balloon-pop {
  animation: balloonPop 0.5s ease-out forwards;
}

@keyframes idleAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.idleAnimation {
  animation-name: idleAnimation;
  animation-duration: 1s; /* Adjust duration as needed */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes buttonAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes pump {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-pump {
  animation: pump 1s infinite;
}

.animate-button {
  animation: buttonAnimation 1s infinite;
}

:root {
  --font-family-base: "Comic Neue", cursive;
  --line-height-base: 1.5;
  --font-weight-base: 700; /* Increased font weight */
  --color-base: rgba(255, 255, 255, 0.87);
  --background-color-base: #242424;

  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  scroll-behavior: smooth;

  color-scheme: light dark;
  color: var(--color-base);
  background-color: var(--background-color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

